{% extends "base.html" %}

{% block contenido %}

<div class="row">
 <div class="large-12 page-title columns">{{object.titulo}}</div>
 <div class="large-12 bg-single columns">
 
   <div class="large-9  columns">
     <div class="pg-single">
      
     </div>
  
   </div>

  <div class="large-3 columns">
    <div class="title-sidebar-3">Noticias</div>

    <div class="news-sidebar">
    {% for obj in noticias %}
      <div class="text-news-side">{{obj.titulo}}</div>
    {% endfor %}  
    <div class="read-more-side"><a href="/noticias/lista/">Leer m&aacutes</a></div>
    </div>
    
    <div class="title-sidebar-1">Eventos</div>
    <div class="event-sidebar">
    {% for obj in eventos %}
      <div class="calendar-icon">{{obj.fecha_inicio|date:"j M"}}</div>
      <div class="text-sidebar">{{obj.titulo}}</div>
    {% endfor %}
    </div>

  </div>

 </div>

</div>
  
{% endblock contenido %}