
body { background:#fff;}


/**** Header ****/

.top-header{ background:#3498db; height: 160px;}
.logo{ float: left; background: url(../img/logo.png) no-repeat; width: 142px; height: 148px;}
.main-menu{ margin-top: 7em;}
.main-menu li{ display: inline; font-size: 13px; padding: 10px; color: #fff;
			   font-family: 'Droid Sans', sans-serif; font-weight: bold;}
.main-menu li a{ color: #fff;}
.main-menu li a:hover{ color: #2a2e37;}
.menu-rapido li{  color: #2c3e50; font-size: 15px;}				   
/**** Header ****/

.top-content{ background: #ecf0f1; }
.welcome{ color:#3498db; font-size: 18px; margin-top: 20px;  }

.slide-img{ margin-top: 14px; margin-bottom: 15px;}
.content{ background: #bec3c7;}

/**** front- news list ****/
h2{ font-size: 18px;}

.title-bar{ padding: 10px; background: #34495e;  margin-top: 10px; 
			color: #fff; font-weight: bold; float: left;}
.news-post{ background: #ecf0f1; float: left; margin-bottom: 1em; }
.list-news{ width: 450px; float: left;   }
.title-news a { font-size: 14px; padding-top: 10px; color: #464749;  }
.title-news a:hover{ color: #7f8c8d;}
.img-news{ float: left; padding: 10px;}
.text-news{ float: left; width: 300px;}
.read-more{ float: left; margin-left: 20em;  background:#34495e; color: #fff; padding: 10px;
			margin-bottom: 10px; }
.read-more a{color: #fff;}
.read-more a:hover{  text-decoration: underline; }

/**** front- news list ****/

.content-pub{background: #ecf0f1;}
.video-box{ background: #a7acaf; float: left; margin-bottom: 12px; }
.video-sample{ background: #000; 
				color: #fff; width: 209px; height: 180px; margin: 9px;   float: left; }

/**** eventos-front-page ****/
.eventos{ clear: both;  background: #a7acaf; float: left; }
.box-event{ -webkit-border-radius: 5px;  margin: 10px; width: 200px; float: left;
               border-radius: 5px;  height: 100px; background: #8a9295;
           }
.title-event{ font-size: 14px; padding-top:2px; margin-left: 10px; color: #fff;}           
.descripcion{ font-size: 12px; margin: 10px; color: #fff;}
.text-title{ color: #30ca72; font-size: 18px; font-weight: bold;}
.text-title-1{ color: #8e45ae; font-size: 18px; font-weight: bold;}
/**** eventos-front-page ****/ 

.content-pub{background: #ecf0f1;}
.pub-front{float: left; margin: 10px;}
.title-pub{ font-size: 12px; }
/**** footer ****/
.footer{ background: #c1392b; height: 100px;}
.footer-menu{ float: left; margin-top: 2em;}
.footer-menu li{ display: inline;  padding: 8px; background: #9a281d; color: #fff;
				 font-weight: bold; -webkit-border-radius: 8px; margin: 10px; font-size: 14px;
				 border-radius: 8px;}
.footer-menu li a{ color: #fff;}
.footer-menu li a:hover{ color: #fff;}
.redes-sociales{ margin-left: 10px; float: right; margin-top: 10px;}				 
/**** footer ****/
