
/*body { background:url(../img/bg.png); background-color: #ecf8ff; font-family: 'Open Sans', sans-serif; }*/
body { background: #e0e0e0; font-family: 'Open Sans', sans-serif; }

/**** Header ****/

.top-header{ background:#3498db; }
.logo{ float: left; background: url(../img/logo.png) no-repeat; width: 142px; height: 148px;}
.main-menu{ margin-top: 7em;}
.main-menu li{ display: inline; font-size: 13px; padding: 10px; color: #fff;
			   font-family: 'Droid Sans', sans-serif; font-weight: bold;}
.main-menu li a{ color: #fff;}
.main-menu li a:hover{ color: #2a2e37;}
.menu-rapido li a{  color: #7f8c8d; font-size: 14px; font-weight: bold; }
ul.menu-rapido{margin: 0; padding: 0;}
.menu-rapido li{ background-image:url(../img/genero.png);
					background-repeat:no-repeat; list-style: none;
					padding-left:2em; }	
.orbit-timer{visibility: hidden;}	
/* Navigation styling */
.nav {
	position:relative;
	display:inline-block;
	font-size:13px;
	 font-family: 'Droid Sans', sans-serif; 
	margin-top: 2em;
	font-weight:bold;
}
.nav-list li { list-style: none;
	
}
.nav-item {
	float:left;
	*display:inline;
	zoom:1;
}
.nav-item a {
	display:block;
	padding:8px 8px;
	color:#FFF;
	
}
.nav-item:first-child a {
	
}
.nav-item:last-child a {
	
}
.nav-item a:hover {
	background:#2582bc;
	-webkit-border-radius: 4px; 
	 border-radius: 4px;
}
/* Mobile Navigation */
.nav-mobile {
	display:none; /* Hide from browsers that don't support media queries */
	cursor:pointer;
	position:absolute;
	top:0;
	right:0;
	background:url(../img/nav.svg) no-repeat center center;
	height:40px;
	width:40px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}

/*------------------------------------*\
    Media Queries
\*------------------------------------*/

@media only screen and (min-width: 320px) and (max-width: 768px) {
	.nav-mobile {
		display:block;
	}
	.nav {
		width:100%;
		padding:40px 0 0;
	}
	.nav-list {
		display:none;
	}
	.nav-item {
		width:100%;
		float:none;
	}
	.nav-item a {
		border-bottom: #fff solid 1px;
		padding:10px;
	}
	.nav-item:first-child a {
		border-radius:5px 0 0;
	}
	.nav-item:last-child a {
		border-radius:0 0 5px 5px;
	}
	.nav-active {
		display:block;
	}
	.nav-mobile-open {
		border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
	}
}



							   
/**** Header ****/

.top-content{ background: #f4f4f4; }
.welcome{ color:#3498db; font-size: 18px; margin-top: 20px;  }
.text-welcome{font-size: 14px; text-align: justify; color: #34495e; margin-bottom: 10px;}

.slide-img{ margin-top: 14px; margin-bottom: 15px;}
.content{ background: #bec3c7;}
.breadcrumbs{font-size: 14px; background: none; border: none;font-family: 'Open Sans', sans-serif;}

/**** front- news list ****/
h2{ font-size: 18px;}

.title-bar{ padding: 10px; background: #34495e;  font-weight: bold; margin-top: 10px; font-size: 16px; 
			color: #fff;  float: left; }
.news-post{ background: #ecf0f1; float: left; margin-bottom: 1em; }
.list-news{ width: 450px; float: left;   }
.title-news a { font-size: 13px; padding-top: 10px; color: #464749;  }
.title-news a:hover{ color: #7f8c8d;}
.img-news{ float: left; padding: 10px; }
.img-news img {border: 2px #bdc3c7 solid;}
.img-news img:hover{ border: 2px #2c3e50 solid;}
.text-news{ float: left; width: 300px; font-size: 12px;}
.read-more{ float: left; margin-left: 20em;  background:#34495e; color: #fff; padding: 10px;
			margin-bottom: 10px; }
.read-more a{color: #fff;}
.read-more a:hover{  text-decoration: underline; }
.button-more{ background: #16a086; float: right;  color: #fff; padding: 8px;
			margin-bottom: 10px; clear: both;}
/**** front- news list ****/

/*post news list*/
.post-news{  background: #ecf0f1; float: left; margin-bottom: 15px; }
.list-post-news{ float: left;  margin-top: 20px; border-bottom: 1px dashed #bdc3c7;
				 margin-left: 10px; margin-bottom: 10px; margin-right: 10px; }

.more-news{ float: right; margin-left: 20em;  background:#34495e; color: #fff; padding: 5px;
			margin-bottom: 10px; }
.more-news:hover{color:#fff;}
.news-post-list{font-size: 13px; text-align: justify; margin-bottom: 10px;}
					 
/*orbit bullets*/
.orbit-bullets {
  margin: 0 auto 30px auto;
  overflow: hidden;
  position: relative;

  left: 20px;
  top: -55px; }
.orbit-bullets li.active {
      background: #fff; }  
.orbit-bullets li {
    display: block;
    width: 11px;
    height: 11px;}
.orbit-caption a{ color: #fff; font-size: 14px;}    

/*post news list*/

.content-pub{background: #ecf0f1;}
.video-box{ background: #a7acaf; float: left; margin-bottom: 12px; }
.video-sample{ background: #000; 
				color: #fff; width: 209px; height: 180px; margin: 9px;   float: left; }
.audio-box{ width: 340px;  background:#7f8c8d;}
.audio-box ol{ font-size: 12px; padding-left: 20px; color: #fff; content: '♬ ';}
.audio-box ol a{  color: #fff; padding-bottom: 5px; }
.audiojs .play-pause {padding: 4px;}

.audiojs{ width: 340px; background:#2c3e50;
		 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2c3e50), color-stop(0.5, #2c3e50), color-stop(0.51, #2c3e50), color-stop(1, #2c3e50));}
.audiojs .scrubber {
position: relative;
float: left;
width: 180px;
background: #5a5a5a;
height: 14px;
margin: 10px;
border-top: 1px solid #3f3f3f;
border-left: 0px;
border-bottom: 0px;
overflow: hidden;
}
ol{}
.audio-box li.playing { color: #aaa; text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3); }
.audio-box li.playing a { color: #000; }
.audio-box li.playing:before { content: '♬'; width: 14px; height: 14px; padding: 3px; line-height: 14px; margin: 0px; position: absolute; left: 14px; color: #000; font-size: 13px; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); }

.tabb{ background-color: #3398dc; border: none; margin-top: 10px; 
	   margin-left:5px; padding: 10px; float: left;}
.tabb a{ color: #fff;}
.tabb:active{background: #bec3c7;}
.box-tabs{ float: right;}


/* page single*/

.pg-single{background: #ecf0f1; margin-top: 10px; padding: 10px;
		   -webkit-border-radius: 6px; margin-bottom: 15px;
		    border-radius: 6px;}
.box-red a{ color: #fff;}
.img-pagina{ margin-bottom: 10px;}
.text-pages p span{ font-family: 'Open Sans', sans-serif;}
.text-pages{ margin: 10px;  text-align: justify; }
.img-pagina img{ border: 2px #95a5a6 solid;}
.author, .dates{margin: 12px; font-size: 11px; color: #7f8c8d;}
.thumbs{ margin-bottom: 10px;}

/* page single*/

/*** sidebar ***/
.secondary-menu a{ color: #fff;}
.box-red{ background: #e84c3d; -webkit-border-radius: 8px;
		  border-radius: 8px; padding: 1em; margin-top: .5em; color: #fff; border-bottom: 6px solid rgb(224, 50, 50);}
.box-blue{ background: #3598db; -webkit-border-radius: 8px; border-bottom: 6px solid #327ba9;
		   border-radius: 8px; padding: 1em; margin-top: 1em; color: #fff;}
.box-green{ background: #27ae61; -webkit-border-radius: 8px; border-bottom: 6px solid #2a9457;
		   border-radius: 8px; padding: 1em; margin-top: 1em; color: #fff; font-size: 14px;}

.title-multimedia{ }
.list-pub{float: left;}
.multimedia-list{float: left;}
.title-sidebar-1{ padding: 10px; background: #8f44ad; margin-top: 10px; color: #fff;}
.title-sidebar-2{ padding: 10px; background: #27ae61; margin-top: 10px; color: #fff;clear: both;}
.title-sidebar-3, .title-multimedia{ padding: 10px; background: #2a80b9; margin-top: 10px; color: #fff;clear: both;}
.text-box{padding: 10px; font-size: 14px;}
.news-sidebar ul{ margin: 0; padding: 0; list-style: none;}
.text-news-side{ margin-top: 15px;  font-size: 13px; list-style:none;
				 background-image:url(../img/square.png); 
				 background-repeat:no-repeat; padding-left:1.7em; padding-bottom: .5em; }

.text-news-side a{ color: #313e37;  }
.text-news-side:hover{text-decoration: underline;}
.news-sidebar{ margin-bottom: 40px;  }

/***eventos ****/
.event-sidebar{ margin-bottom: 20px; float: left; }
.calendar-icon{ float: left; clear: left;  margin-top: 10px; margin-right: 10px;
				width: 35px; height: 35px; background: url(../img/calendar.png);
				padding-top: 15px; font-size: 9px;text-align: center;}
.calendar-icon-front{ float: right; clear: left;  margin-top: 10px; margin-right: 10px;
				width: 35px; height: 35px; background: url(../img/calendar.png);
				padding-top: 15px; font-size: 9px;text-align: center; color: #fff;}						   		  
.text-sidebar{ margin-top: 15px;  font-size: 14px; }
.text-sidebar a{ color: #222222;}
.read-more-side{ background: #2a80b9; color: #fff; padding: 5px;  margin-top: 10px; width: 70px;
			margin-bottom: 25px;  font-size: 12px;  }
.read-more-side a{color: #fff;}
.read-more-side a:hover{  text-decoration: underline; }

.event-image{float:left; margin-right: 2em; clear: both;}	
.text-pages-event{	 }
.event-info-date{ font-size: 12px;  }		
/*** sidebar ***/


/****Contenido paginas internas****/
.bg-single{ background: #fff; }
.page-title{ background: #e0e0e0; padding-top: 10px; padding-bottom:10px; color:#707070;
			  font-size: 20px; font-family: 'Days One', sans-serif;}

.paginador{float: left; clear: both;}

/**** eventos-front-page ****/
.eventos{ clear: both;  background: #a7acaf; float: left; margin-bottom: 15px; }
.box-event{ -webkit-border-radius: 5px;  margin: 10px; width: 200px; float: left;
               border-radius: 5px;  height: 100px; background: #8a9295; padding-left: 10px;
           }
h2 { line-height: 1em;}      
.title-event a{ font-size: 13px; color: #fff; line-height: 1.0;  }           
.descripcion{ font-size: 12px; margin: 3px; color: rgb(48, 64, 68);  }
.text-title{ color: #2980b9; font-size: 16px;  margin-top: 10px; font-weight: bold; }
.text-title-1{ color: #2980b9; font-size: 16px; margin-top: 10px; font-weight: bold; }
/**** eventos-front-page ****/ 

/**** Publicaciones ****/ 
.content-pub{background: #f4f4f4;}
.pub-front{float: left; margin: 10px;}
.title-pub{ font-size: 12px; }
.pub-detail{ margin-right: 10px; float: left; margin-bottom: 2em;}
.descargar{}
/**** Publicaciones ****/ 

/**** footer ****/
.copyright{ font-size: 12px; clear: both; float: left; margin-bottom: 10px;  color: #fff; font-family: 'Open Sans', sans-serif;}
.footer{ background: #c1392b; }
.footer-menu{  margin-top: 2em; }
nav.menu-footer{  clear: both;}
.footer-menu li{ display: inline-block;  padding: 8px; background: #9a281d; color: #fff;
				 font-weight: bold; -webkit-border-radius: 8px; margin: 2px; font-size: 10px;
				 border-radius: 8px;}
.footer-menu li a{ color: #fff;}
.footer-menu li a:hover{ color: #fff;}
.redes-sociales{ margin: 10px  0  5px  0; }
.redes-front{ float: right; margin-top: 20px;}	
.search {margin-top: 3px; float: right; }
.googlesearch-form-inclusion{ }
 #search-form{ float: left;}
 #submit-button{float: left;}
 input[type="submit"]{ color: #7f8c8d; font-size: 12px; border: none;  margin-left:auto;
      margin-right:auto;}

 input[type="text"]{ float: left; clear: both;	}
.search input{height: 24px;}
.search-button{ background: #ecf0f1; }
a.search-button  { color: #7f8c8d; font-size: 11px; border: none;}				 
/**** footer ****/
