<!doctype html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]--> 
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
{% load staticfiles %}
<head>

	<meta charset="utf-8" /> 
	<meta name="viewport" content="width=device-width" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<title>{% block title %}ASONVIHSIDA Gente positiva{% endblock title %}</title>

	<link rel="stylesheet" href="{% static 'css/normalize.css' %}" /> 
	<link rel="stylesheet" href="{% static 'css/foundation.css' %}" /> 
	<link rel="stylesheet" href="{% static 'css/global.css' %}" />
	
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Days+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<script src="{% static 'js/vendor/custom.modernizr.js' %}"></script>

</head>
{% load menubuilder %}
{% load googlesearch_inclusion_tags %}
<body>
<!--header -->
<div class="top-header">
<div class="row">
<div class="large-12 top-header columns">

<a href="/"><div class="logo"></div></a>


	<div class="redes-front">
    <img src="/static/img/facebook.png">
    <img src="/static/img/twitter.png">
    </div>

  <div class="large-4 search columns">
  	
  <div class="small-11 columns">
    {% googlesearch_form %}
  </div>
      

  </div>

<!--Menu principal -->
<div class="">
<nav class="nav">
	<ul class="nav-list">{% menu principal %}
		{% for item in menuitems %}
			<li  class="nav-item"><a href="{{ item.url }}" title="{{ item.title|escape }}"{% if item.current %} class='current'{% endif %}>{{ item.title }}</a></li>
		{% endfor %}	
	</ul>
</nav>
</div>
<!--Menu Principal -->
</div>
</div>
</div>
{% block contenido %}{% googlesearch_results %}{% endblock contenido %}
{% include "footer.html" %}
<script> 
  document.write('<script src=' + 
	('__proto__' in {} ? '/static/js/vendor/zepto' : '/static/js/vendor/jquery') + 
	'.js><\/script>') 
</script> 

<script src="{% static 'js/foundation/foundation.js' %}"></script> 
<script src="{% static 'js/foundation/foundation.alerts.js' %}"></script> 
<script src="{% static 'js/foundation/foundation.clearing.js' %}"></script> 
<script src="{% static 'js/foundation/foundation.cookie.js' %}"></script> 
<script src="{% static 'js/foundation/foundation.dropdown.js' %}"></script> 
<script src="{% static 'js/foundation/foundation.forms.js' %}"></script> 
<script src="{% static 'js/foundation/foundation.joyride.js' %}"></script> 
<script src="{% static 'js/foundation/foundation.magellan.js' %}"></script> 
<script src="{% static 'js/foundation/foundation.orbit.js' %}"></script> 
<script src="{% static 'js/foundation/foundation.placeholder.js' %}"></script> 
<script src="{% static 'js/foundation/foundation.reveal.js' %}"></script> 
<script src="{% static 'js/foundation/foundation.section.js' %}"></script> 
<script src="{% static 'js/foundation/foundation.tooltips.js' %}"></script> 
<script src="{% static 'js/foundation/foundation.topbar.js' %}"></script>
<script src="{% static 'js/audio.min.js' %}"></script> 
{% block extra_js %}{% endblock extra_js %}
<script> $(document).foundation(); </script>
<script>
    (function () {
    
        // Create mobile element
        var mobile = document.createElement('div');
        mobile.className = 'nav-mobile';
        document.querySelector('.nav').appendChild(mobile);
    
        // hasClass
        function hasClass(elem, className) {
            return new RegExp(' ' + className + ' ').test(' ' + elem.className + ' ');
        }
    
        // toggleClass
        function toggleClass(elem, className) {
            var newClass = ' ' + elem.className.replace(/[\t\r\n]/g, ' ') + ' ';
            if (hasClass(elem, className)) {
                while (newClass.indexOf(' ' + className + ' ') >= 0) {
                    newClass = newClass.replace(' ' + className + ' ', ' ');
                }
                elem.className = newClass.replace(/^\s+|\s+$/g, '');
            } else {
                elem.className += ' ' + className;
            }
        }
    
        // Mobile nav function
        var mobileNav = document.querySelector('.nav-mobile');
        var toggle = document.querySelector('.nav-list');
        mobileNav.onclick = function () {
            toggleClass(this, 'nav-mobile-open');
            toggleClass(toggle, 'nav-active');
        };
    })();
    </script>
<script type="text/javascript">
try{document.getElementsByName('googleSearchFrame')[0].height=900;}catch(e){}
</script>
</body>
</html>