{% extends "base.html" %}
{% load staticfiles %}
{% block extra_js %}
<link rel="stylesheet" href="{% static 'css/alertify.core.css' %}" />
<link rel="stylesheet" href="{% static 'css/alertify.default.css' %}" />
<script src="{% static 'js/alertify.js' %}"></script>
  <script type="text/javascript">
  $(document).ready(function($) {


    $('#pony_form').on("submit", function(e){
        e.preventDefault();
        $.post('{% url 'contacto_ajax' %}', $("#pony_form").serialize(),
          function(data) {
            console.log(data);
            if (data === "exito"){
                  console.log("hubo un error");
                  alertify.error("Ocurrieron error lo lamentamos vuelva a intentar");
                }
                else {
                  $('#pony_form')[0].reset();
                  alertify.success("Se ha enviado con exito su mensaje gracias.");
                  
                }
      });
  });
 
 });
</script>
{% endblock extra_js %}

{% block contenido %}

  <div class="row">
  <div class="large-12 page-title columns">Contactenos</div>
  </div>
  <div class="bg-single">
  <div class="row">
   <div class="large-12 columns">
    <div class="large-6 contactos column">
      {%if okis%}
        <p class="success">Su mensaje ha sido enviado existosamente gracias!!</p>
      {%endif%}
      <form id="pony_form" method="POST" class='form-horizontal' >{% csrf_token %}
      {% for field in form %}
        <div class='control-group{% if field.errors %} error{% endif %}'>
            <label class='control-label' for='{{ field.auto_id }}'>{{ field.label }}</label>
            <div class='controls'>
            {{ field }}
            {% for error in field.errors %}
            <span class='help-inline'>{{ error }}</span>
            {% endfor %}
            </div>
        </div> 
      {% endfor %}
    <div class='form-actions'>
        <input type="submit" class="tiny submit button" value="Enviar" />
    </div>
    </form>
    </div>
  <div class="large-5 contactos columns">
  <h2>Texto para informacion en Asonvihsida</h2>
  esto nop por el momento!!  
  </div>
  </div>
 </div>
</div>

{% endblock contenido %}