{% extends "base.html" %}

{% block title %}{{flatpage.title}}{% endblock %}

{% block contenido %}

<div class="row">
 <div class="large-12 page-title columns">{{flatpage.title}}</div>
</div>
<div class="bg-single">
<div class="row">

 <div class="large-12 bg-single columns">
 
 <div class="large-9  columns">
    <div class="pg-single">
      <div class="text-pages">
        {{flatpage.content|safe}}
      </div>
    </div>
 </div>

 <div class="large-3 columns">
    <div class="box-green">
      <ul class="secondary-menu">
        <li><a href="#">Aliados y donantes</a></li>
        <li><a href="#">Objetivos y perspectivas</a></li>
        <li><a href="#">La labor</a></li>
      </ul>
    </div>
    <div class="box-red"><a href="/viviendo-vih/">Viviendo con Vih. conoce m&aacutes.</a></div>
    <div class="title-sidebar-3">Noticias</div>
    <div class="news-sidebar">
    {% for obj in noticias %}
    	<div class="text-news-side"><a href="{{obj.get_absolute_url}}">{{obj.titulo}}</a></div>
    {% endfor %}
    </div>
    <div class="read-more-side"><a href="{% url 'noticias_lista' %}">Leer mas</a></div>
    
  	</div>
 </div>
</div>
</div>	
{% endblock contenido %}